*{
	box-sizing: border-box;
}
html{
	font-family:system-ui,-apple-system,
		"Segoe UI", Robots, "Helvetica Neue", "Noto Sans",
		"Liberation Sans", Arial, sans-serif, "Apple Color Emoji",
		"Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.nav {
	background-color: #221F2A;
	height: 4rem;
}

.nav__layout {
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.nav-brand{
	display: block;
	color: white;
	text-decoration: none;
	height: 4rem;
	line-height: 4rem;
}
.nav-brand__image{
	vertical-align: bottom;
	width: 3rem;
	height: 4rem;
	color:#c62368;
}

.nav-brand:hover .nav-brand__image{
	color: #de568e;
}

.button{
	display: inline-block;
	background-color: #fa7268;
	color: white;
	text-decoration: none;
	padding: 0rem 1rem;
	border-radius: 0.5rem;
	line-height:2.5rem;
	border:0;
}
.button:hover{
	background-color: #f75347;
}
.button__icon{
	color: white;
	width: 1.5rem;
	height: 1.5rem;
	position:relative;
	top: 0.35rem;
	margin-right: 0.4rem;
}
.main{
	position: relative;
	overflow: hidden;
	padding-bottom: 2rem;
}
.main::before{
	content: "";
	display: block;
	position:absolute;
	top: -1rem;
	bottom:-1rem;
	width: 100%;
	background-image: url('../design_files/layered-waves-haikei.svg');
	background-size: cover;
	z-index: -1;
}

.main-heading{
	color:whitesmoke;
	font-size: 2.5rem;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .2em;
	margin-top: 0;
	padding-top: 0.67em;
}

.container {
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
	margin: 0 auto;
}
@media (min-width: 576px){
	.container{
		max-width: 540px;
	}
}
@media (min-width: 768px){
	.container{
		max-width: 720px;
	}
}
@media (min-width: 992px){
	.container{
		max-width: 960px;
	}
}
@media (min-width: 1200px){
	.container{
		max-width: 1140px;
	}
}
@media (min-width: 1400px){
	.container{
		max-width: 1320px;
	}
}
.card{
	background-color: #221F2A;
	padding: 0rem;
	margin-bottom: 2rem;
	border-radius: 1rem;
	box-shadow: 0 0.5rem 1rem rgba(251, 251, 251, 0.15);
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
@media (min-width: 768px){
	.card{
		flex-direction: row;
	}
}

.card__heading{
	margin: 0;
	font-size:1.75rem;
}
.card__heading::after{
	content:"";
	display:block;
	width: 6rem;
	height: 0.125rem;
	background-color: #fa7268;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.card__desc-container{
	color:whitesmoke;
	padding-left: 1.25rem;
	padding-right: 2rem;
	padding-bottom: 1rem;
}
.card__desc-time{
	color:#fa7268;
	text-transform: uppercase;
	font-weight: bold;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}
.card__paragraph{
	line-height: 1.35em;
}
.card__image{
	display: block;
	height: 15rem;
	width: 100%;
	object-fit: cover;
	box-shadow: 0rem 0.25rem 0.5rem rgba(250, 250, 250, 0.15);
}
@media (min-width: 768px){
	.card__image{
		width: 20rem;
		height: 2rem;
		min-height: 100%;
		box-shadow: 0.25rem 0rem 0.5rem rgba(250, 250, 250, 0.15);
	}
}

.pagination{
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	justify-content:flex-end;
}
.pagination__link{
	display: block;
	color: gray;
	border: 0.125rem solid rgb(158, 157, 157);
	width: 2rem;
	height: 2rem;
	text-decoration: none;
	text-align:center;
	line-height: 1.75rem;
	margin-left: 0.5rem;
	border-radius: 0.5rem;
}
.pagination__link:hover{
	color: gray;
	background-color: whitesmoke;
	border: 0.125rem solid whitesmoke
	
}
.pagination__link--active{
	border: 0.125rem solid whitesmoke;
	color: whitesmoke;
}

.footer{
	background-color: #221F2A;
	padding-top: 3rem;
	padding-bottom: 3rem;
}
.footer::after{
	content:"";
	display: block;
	width: 7.5rem;
	height: 0.125rem;
	background-color: whitesmoke;
	margin: 0 auto;
	opacity: 0.5;
	margin-top: 2.5rem;
}
.footer__heading{
	color:whitesmoke;
}
.footer__desc{
	color: #fa7268;
	max-width: 25rem;
	line-height: 1.33rem;
}
.form-group{
	display: flex;
	margin-bottom: 1rem;
}
.form-group__label, .form-group__input{
	display: block;
	color: whitesmoke;
	background-color: #221F2A;
	border-style: solid;
	border-color: #4b4659;
	padding: 0.5rem 1rem;
	font-weight: bold;
}
.form-group__label{
	color: #fa7268;
	text-transform: uppercase;
	flex: 0 0 7.5rem;
	border-top-width: 0.125rem;
	border-left-width: 0.125rem;
	border-bottom-width: 0.125rem;
	border-right-width:0;
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
.form-group__input{
	flex: 1 0 10rem;
	border-top-width: 0.125rem;
	border-right-width: 0.125rem;
	border-bottom-width: 0.125rem;
	border-left-width:0;
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
.form-submit{
	display: flex;
	justify-content: flex-end;
}